<footer class='footer'>
  <small>
    The <a href="#">Tu Naranja Backend</a>
       by <a href="#">Juan Gomez</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About" %></li>
      <li><%= link_to "Contact" %></li>
    </ul>
  </nav>
</footer>